/* ============================================================================= */
/* Bootstrap navigation menu */
/* ============================================================================= */

/* Default display for banner */
.msgame-banner {
	position: fixed;
	min-height: 80px;
	background-image: url('https://minesweepergame.com/image/background-header.jpg');
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: center;
}


/* ============================================================================= */
/* Bootstrap modal carousel per modal-carousel.php */
/* ============================================================================= */

/* Image gallery in body */
.msgame-thumbnail {
	width: 200px;
	height: 200px;
	object-fit: contain;	
	display: block;
	margin-top: 10px;		
	margin-left: auto;
	margin-right: auto;
}
.msgame-thumbnail-caption {
	width: 200px;	
	margin-bottom: 10px;		
	margin-left: auto;
	margin-right: auto;	
	text-align: center;
	font-size: 90%;
    color: #6c757d;		
}
